<h1>Stock of products</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td<%= product.quantity %>></td>
      </tr>
    <% end %>
  </tbody>

</table>
